
<div nz-row [nzGutter]="20">
    <div nz-col [nzMd]="20">
        <nz-card nzTitle="我的模版（总数：{{templateTotal}})">
            <ng-template #extra>
                <a (click)="onClickCreateTemplate()">创建模版</a>
                <span nz-table-divider></span>
                <a (click)="onClickRefreshTemplate()">刷新</a>
            </ng-template>
            <nz-table #nzTable [nzDataSource]="templateList" [nzPageSize]="10">
                <thead nz-thead>
                <tr>
                    <th nz-th><span>名称</span></th>
                    <th nz-th><span>别名</span></th>
                    <th nz-th><span>创建人</span></th>
                    <th nz-th><span>阶段</span></th>
                    <th nz-th><span>动作</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                    <ng-template ngFor let-data [ngForOf]="templateList">
                        <tr nz-tbody-tr>
                            <td nz-td>{{data.name}}</td>
                            <td nz-td>{{data.alias}}</td>
                            <td nz-td>{{data.user}}</td>
                            <td nz-td>{{data.status}}</td>
                            <td nz-td>
                                <ng-container *ngIf="!data.editFlag">
                                    {{data.stage}}
                                </ng-container>
                                <ng-container *ngIf="data.editFlag">
                                    <input type="text" nz-input [(ngModel)]="data.stage">
                                </ng-container>
                            </td>
                            <td nz-td *ngIf="!data.editFlag">
                            <span>
                                <nz-popconfirm [nzTitle]="'确定要删除这个模版吗？'" (nzOnConfirm)="confirmTemplate(data)" (nzOnCancel)="cancelTemplate()">
                                        <a nz-popconfirm>删除</a>
                                </nz-popconfirm>
                            </span>
                                <span nz-table-divider></span>
                                <a (click)="onEdit(data)">编辑</a>
                            </td>
                            <td nz-td *ngIf="data.editFlag">
                                <a (click)="editOK(data)">确认</a>
                                <span nz-table-divider></span>
                                <a (click)="editCANCEL(data)">取消</a>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>

                <!---
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of templateList">
                    <td nz-td>
                        <a>{{data.name}}</a>
                    </td>
                    <td nz-td>{{data.alias}}</td>
                    <td nz-td>{{data.stage}}</td>
                    <td nz-td>
                        <span>
                            <nz-popconfirm [nzTitle]="'确定要删除这个模版吗？'" (nzOnConfirm)="confirmTemplate(data)" (nzOnCancel)="cancelTemplate()">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                        </span>
                    </td>
                </tr>
                </tbody>
                --->
            </nz-table>
        </nz-card>
    </div>
</div>

